
$mark-colors-map: (
  info:    map-get($mark-colors, cyan),
  success: map-get($mark-colors, teal),
  warning: map-get($mark-colors, orange)
  // , accent: $accent-color
);

@each $color-name, $color in $mark-colors-map {
  .border-#{$color-name} {
      border: 1px solid $color !important;
  }
  .mark-#{$color-name} {
    background-color: $color !important;
  }
}

.mark-default {
  background-color: $light-color;
}

.shadow {
  box-shadow: 0 3px 6px $shadow-color;
}