@import 'mixins/helpers';
// @import 'mixins/mixins';

@include styles-from-list(d, display, (block, inline-block, table));
@include styles-from-map(pos, position, (static: static, abs: absolute, rel: relative));

.hidden {
    display: none !important;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100% !important;
}

.unscroll {
    overflow: hidden;
}

.hr {
    height: 1px;
    border: none;
    color: $muted-color;
    background-color: $muted-color;
}

.negative-indent {
    margin-left: -$pad;
}

.rounded {
    border-radius: 50%;
}

.rounded-pill {
    border-radius: $border-radius;
}

.underline {
    border-bottom: 1px solid $muted-color;
}

//specific classes

//.clearfix:after { 
//	content: "";
//	display: table;
//	clear: both;
//}
//.ellipsis {
//	white-space: nowrap;
//	overflow: hidden;
//	text-overflow: ellipsis;
//}
//.visible { 
//	display: block;
//}
//.invisible:not(:hover) {
//	opacity: 0;
//	@include transition(opacity);
//}
//html .video {
//    position: relative;
//    padding-bottom: 56.25%;
//    height: 0;
//    overflow: hidden;
//}
//html .video iframe, 
//html .video object, 
//html .video embed {
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    heidht: 100%;
//}